/* Add this to your Home.css file */
.main {
  overflow-x: hidden; /* Hide horizontal overflow */
}
.basic-analytics {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    box-shadow: #000; 
  }

  .fields{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd; /* Add border to create a box */
    border-radius: 8px; /* Add border radius for rounded corners */
    background-color: #f9f9f9; /* Background color */
  }
  
  .question-fields{
    margin: 5px;
    font-family: Helvetica;
    font-weight: bolder;
    color: #000;
    text-align: right; 
  }
  
  .answer-fields p {
    font-weight: bold;
    font-family: 'Trebuchet MS';
    color: #fff;
    background-color: #3e8e41; /* Blue background color */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: left; /* Left-align the answer */
  }
  
  .long-url {
    font-weight: bold;
  }
  
  .long-url a {
    color: #04AA6D; /* Blue link color */
  }
  
  .bold {
    font-weight: bold;
    color: #000;
  }
    
  .field-click{
    background-color: #ccc;
    font-family: arial;
    font-size: larger;
  }

  .analytics-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .analytics-table td, .analytics-table th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .analytics-table th {
    background-color: #f2f2f2;
  }
  .analytics-table a {
    display: block; /* Display the link as a block element */
    white-space: normal; /* Allow wrapping of long URLs */
    word-wrap: break-word; /* Break long words to prevent overflow */
  }