/* Form styles */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px auto 40px;
}

input {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc; /* Add border for a cleaner look */
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for elevation */
}

button {
  padding: 15px;
  margin-top: 8px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50; /* Green background color */
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for elevation */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #45a049; /* Darker green background color on hover */
}

.result-message {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: #282c34;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  background-color: #f2f2f2; /* Light gray background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for elevation */
}

.formbox{
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* CSS for the Copy button */
.copy-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.copy-button:hover {background-color: #3e8e41}

.copy-button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

/* CSS for the Share button */
/* CSS for the Copy button */
.share-button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #047AAD  ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.share-button:hover {background-color: #3E5F8A}

.share-button:active {
  background-color: #3E5F8A;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.delete-btn-div{
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.delete-button {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cc2222  ;
  border: none;
  border-radius: 5px;
}

.delete-button:hover {background-color: #3E5F8A}

.delete-button:active {
  background-color: #3E5F8A;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.delete-checkbox {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.delete-checkbox input[type="checkbox"] {
  margin-right: 5px;  
  transform: scale(1.5)
  
}

.delete-checkbox span {
  vertical-align: middle;
}

