.banned-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .banned-content {
    text-align: center;
    font-family: sans-serif;
  }
  
  .banned-image {
    font-size: 60px; /* Adjust the size as needed */

    /* Define the color of the icon */
    color: red; /* Change the color to your preference */
  }
  