.banned-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .banned-content {
    text-align: center;
  }
  
  .banned-image {
    width: 100px; /* Adjust the size of the circular photo */
    height: 100px; /* Adjust the size of the circular photo */
    border-radius: 50%; /* Create a circular shape */
    background-color: #f0f0f0; /* Background color of the circular photo */
    margin: 0 auto 20px; /* Center the circular photo and add space below */
  }
  